<!DOCTYPE html>

<html>
  <head>
    <title>CloudNative Hackathon Helper</title>
  </head>
  <body>
    <h1>Hello, CloudNative Hackathon!</h1>
    <h2>How to use this Helpdesk</h2>
    <ol>
      <li>WhatsApp +14155238886 with "join bite-mostly"</li>
      <li>
        Once you get a confirmation that you have joined the sandbox, say hello!
      </li>
      <li>Follow the instructions from the bot.</li>
      <li>
        We'll contact you on the CommClassroom Discord to help with your
        problem.
      </li>
    </ol>
  </body>
</html>
